body{
    background-image:url('https://images.pexels.com/photos/1029844/pexels-photo-1029844.jpeg');
    background-repeat: no-repeat;
    background-size:cover;
}
img{

  border: 1px solid #ccc;
  float: left;
  text-align: center;
  margin-left:180px;
  
}

/* .container{
    border-radius: 1px solid lightseagreen;
} */

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

h1{
    font-family: 'Dancing Script', cursive;
}

a, .navbar-brand{
    font-family: 'Cookie', cursive;
    font-size:25px;
}
p{
    font-family: 'Noto Sans SC', sans-serif;
}