{%extends 'all-pictures/base.html'%}
{% load bootstrap3 %}

<body>
{% block content %}
{{block.super}}
    
   {% for pictures_item in pictures %}

   <div class="container">
   <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
      <a href="{% url 'view-profile' pictures_item.user.id %}">{{pictures_item.user}}</a>
      <a href="comments\{{pictures_item.id}}"><img src="{{pictures_item.image.url}}" class="img-responsive" alt="Image" class="center"></a>
      <p>Name:{{pictures_item.image_name}}</p>
      <p>Caption:{{pictures_item.image_caption}}</p>
   </div>
  </div>
     <div class="row">
      <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
     
      </div>
   </div>

   </div>

   {% empty %}
   <div class="row">
     <h2 class="text-center">There No pictures Items</h2>
   </div>
   {% endfor %}

 </div>
{% endblock %}
</body>