{%extends 'all-pictures/base.html'%}

 {% block content %}

 <div class="container">

   <div class="row">
     <div class="img-circular">
     <img src="{{profile.profile_photo.url}}"  class="img-responsive" alt="">
     </div>
   </div>

   <div class="row">
     <h1 class="text-center">{{profile.bio}}</h1>
   </div>

   <!-- <div class="row">
    {% autoescape on %}
    {{profile.bio| safe}}
   {% endautoescape %}
  
   </div> -->
   {% for pictures_item in pictures %}

   <!--Display pictures Article images  -->
 <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
     <img src="{{pictures_item.image.url}}" class="img-responsive" alt="Image">
 </div>
   <div class="row">
      <!-- displaying pictures articles -->
      <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
        <h1> {{ pictures_item.image_caption }} </h2>
    </div>
    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
      <a href="{% url 'view-profile' pictures_item.user.id %}">{{pictures_item.user}} </a>
    </div>
 </div>

 </div>

 {% empty %}
 <div class="row">
   <h2 class="text-center">There No pictures Items</h2>
 </div>
 {% endfor %}

 </div>

 {% endblock %}